@model WeatherGuide.Models.ViewModels.RecommendationViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["RecommendationPage"];
}

<h1>@ViewData["Title"]</h1>
 @{ ViewBag.FirstImage = "data:image/jpg;base64," + Convert.ToBase64String(Model.FirstClothingImage); } 
 @{ ViewBag.SecondImage = "data:image/jpg;base64," + Convert.ToBase64String(Model.SecondClothingImage); } 
@{
    ViewBag.ThirdImage = "data:image/jpg;base64," + Convert.ToBase64String(Model.ThirdClothingImage);} 
@{
    IEnumerable<string> items = TempData.Peek("Items") as IEnumerable<string>;}
  @{IEnumerable<string> measurement = TempData.Peek("Measurement") as IEnumerable<string>; }



<div class="weather-widget">
  <div class="content">
    <div id="location">@Localizer["Weather"]</div>
    <div id="temperature">@measurement.ToArray()[0]</div>
    <div id="summary">@Localizer["Wind"] @measurement.ToArray()[1]</div>
    <div class="textbottom">@Localizer["Humidity"] @measurement.ToArray()[2]</div>
  </div>
</div>

<div id="recommendation">
<p>@Localizer["RecommendationToday"]</p>
@foreach(var item in items)
{
    <p>@item</p>
}
</div>



<div class="row">
  <div class="column">
      <div class="image-border">
    <img src="@ViewBag.FirstImage" class="image-center" width="400px" height="400px"/>
      </div>
  </div>
  <div class="column">
      <div class="image-border">
    <img src="@ViewBag.SecondImage" class="image-center" width="400px" height="400px"/>
    </div>
  </div>
  <div class="column">
      <div class="image-border">
    <img src="@ViewBag.ThirdImage" class="image-center" width="400px" height="400px"/>
    </div>
  </div>
</div>
<style>
.image-border  {
  max-width: 450px;
  margin: 10px auto 0;
  border-width: 10px;
  border-style: solid;
  border-image: src(border-diagonal.png) 25% repeat repeat;
  background: white;
  }
.image-center {
    display:block;
    margin: auto;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}




.weather-widget{
  position: static;
    width: 400px;
    height: 200px;
    top: 50%;
    margin-top: -100px;
    margin-left: 370px;
    border-radius: 10px;
}

.weather-icon{
  display:block;
  margin: 0 auto;
}

#location{
  text-align: center;
  font-size: 26px;
  /*color: skyblue;*/
}

#temperature{
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  color: skyblue;
  cursor: pointer;
}

#summary{
  text-align: center;
  /*color: skyblue;*/
  font-size: 23px;
}

.content{
  position: relative;
  top: 50%;
  margin-top: 43px;
}

.textbottom{
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: #222;
}

h1 {
    text-align:center;
}

#recommendation{
    font-weight: bold;
    font-size: 20px;
}

</style>