@model IEnumerable<WeatherGuide.Models.Clothing>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">@SharedLocalizer["Create new"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["ClothingNameEN"]
            </th>
            <th>
               @SharedLocalizer["ClothingNameUA"]
            </th>
            <th>
                @SharedLocalizer["WarmthTableVal"]
            </th>
            <th>
                @SharedLocalizer["MoistureTableVal"]
            </th>
            <th>
                @SharedLocalizer["CategoryTableVal"]
            </th>
            <th>
                 @SharedLocalizer["ImgData"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameUA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warmth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoistureResistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @{ ViewBag.Image = "data:image/jpg;base64," + Convert.ToBase64String(item.ImageData); } 
                 <img src="@ViewBag.Image" width="250px" height="200px"/>
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
